.box {
  position: relative;
  width: 80rem;
  height: 20rem;
  background: rgba(0, 0, 0,0.75);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  width: 100rem;
  height: 100rem;
  background-image: conic-gradient(transparent, transparent, transparent, #00ffdb);
  animation: animate 4s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  width: 100rem;
  height: 100rem;
  background-image: conic-gradient(transparent, transparent, transparent, #00e1ff);
  animation: animate 4s linear infinite;
  animation-delay: -2s
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box header {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: #263634;
  z-index: 1;
}

p {
  position: relative;
  z-index: 2;
}


.line {
  display: grid;
  grid-template-columns: repeat(3, 1);
  align-items: center;
}

.line::before, .line::after {
  content: '';
  height: 2px;
  background-color: #02a184;
  display: block;
}


.contact-Box .stage {
  overflow:hidden;
  background:#000;  
}

svg {
  position: absolute;
}
